<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <title>SLIDESHOW PTSP</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.notifku.my.id/lime/theme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.notifku.my.id/lime/theme/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.notifku.my.id/lime/theme/assets/css/lime.min.css" rel="stylesheet">
        <link href="https://cdn.notifku.my.id/lime/theme/assets/css/custom.css" rel="stylesheet">

    </head>
  <style>
   .up{
     text-transform: uppercase
   } 
  </style>
    <body>
        <div class='loader'>
            <div class='spinner-grow text-primary' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>

        <div class="lime-sidebar">
            <div class="lime-sidebar-inner slimscroll">
                <ul class="accordion-menu">
                    <li class="sidebar-title">
                        Apps
                    </li>
                    <li>
                        <a href="index.html"><i class="material-icons">dashboard</i>Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="lime-header">
            <nav class="navbar navbar-expand-lg">
                <section class="material-design-hamburger navigation-toggle">
                    <a href="javascript:void(0)" class="button-collapse material-design-hamburger__icon">
                        <span class="material-design-hamburger__layer"></span>
                    </a>
                </section>
                <a class="navbar-brand up" href="#">ADMIN PAGE <%= admin %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 search" id="search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search for projects, apps, pages..." aria-label="Search">
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle theme-settings-link" href="#">
                                <i class="material-icons">layers</i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="#">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="search-results">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search-results-header">
                            <h4>Search Results</h4>
                            <a href="#" id="closeSearch"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="search-result-list user-search">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lime-container">
            <div class="lime-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-info text-white">
                            <div class="card-body">
                                <div class="dashboard-info row">
                                    <div class="info-text col-md-6">
                                        <h5 class="card-title">Welcome!</h5>
                                        <p>Klik link di bawah untuk konfigurasi slideshow!</p>
                                        <ul>
                                            <li>Klik tombol meja masing-masing</li>
                                            <li>Pilih gambar</li>
                                            <li>Simpan</li>
                                        </ul>
                                        <a href="/slideshows/<%= admin %>" class="btn btn-warning m-t-xs">Preview</a>
                                    </div>
                                    <div class="info-image col-md-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="card stat-card">
                        <div class="card-body">
                           <h2 class="up"><%= admin %></h2>
                           <form action="/upload/<%= admin %>" method="POST" enctype="multipart/form-data">
                             <div class="form-group">
                                 <div class="custom-file">
                                     <input type="file" class="custom-file-input form-control" id="images" name="images" multiple accept="image/*" onchange="previewImage(event)">
                                     <label class="custom-file-label" for="customFile">Pilih Gambar</label>
                                     <button type="submit" class="btn btn-primary">Upload</button>
                                 </div>
                             </div>
                           </form>
                          <form action="/rest/<%= admin %>"  method="POST">
                            <button type="submit" class="btn btn-warning">Refresh</button>
                          </form>
                           <!-- <form action="/rest/<%= admin %>"  method="POST">
                             <div class="form-check">
                               <input class="form-check-input" type="checkbox" id="rest" name="rest" <%= isResting ? 'checked' : '' %>>
                               <label class="form-check-label" for="rest">
                                 Sedang Istirahat
                               </label>
                             </div>
                             <button type="submit" class="btn btn-primary mt-3">Update Status</button>
                             <button type="submit" class="btn btn-warning mt-3">Refresh</button>
                           </form> -->
                           <hr>
                           <ul id="sortable" class="sortable-list">
                             <% images.forEach((image, index) => { %>
                               <li class="sortable-item" data-index="<%= index %>">
                                 <img src="/uploads/<%= admin %>/<%= image %>" class="img-thumbnail mr-2">
                                 <%= image %>
                                 <button class="btn btn-danger btn-sm ml-2 delete-image" data-filename="<%= image %>">Delete</button>
                               </li>
                             <% }); %>
                           </ul>
                        </div>
                    </div>
                </div>
                </div>

        </div>
                               

        <script src="https://cdn.notifku.my.id/lime/theme/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="https://cdn.notifku.my.id/lime/theme/assets/plugins/bootstrap/popper.min.js"></script>
        <script src="https://cdn.notifku.my.id/lime/theme/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.notifku.my.id/lime/theme/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="https://cdn.notifku.my.id/lime/theme/assets/js/lime.min.js"></script>
    </body>
</html>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
      <style>
        .sortable-list {
          list-style-type: none;
          padding: 0;
        }
        .sortable-item {
          margin-bottom: 10px;
          padding: 10px;
          background-color: #f8f9fa;
          border: 1px solid #ccc;
          cursor: grab;
          display: flex;
          align-items: center;
        }
        .sortable-item img {
          max-width: 100px;
          max-height: 100px;
          margin-right: 10px;
        }
        .delete-image {
          margin-left: auto; 
        }
      </style>
    </head>
    <body>
      <div class="container mt-5">
        

        <hr>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const sortable = new Sortable(document.getElementById('sortable'), {
            animation: 150,
            onEnd: function(evt) {
              const order = [];
              document.querySelectorAll('.sortable-item').forEach(item => {
                order.push(item.querySelector('img').src.split('/').pop());
              });

              fetch(`/save-order/<%= admin %>`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ order: order })
              });
            }
          });

          const socket = io();

          document.querySelectorAll('.delete-image').forEach(button => {
            button.addEventListener('click', function() {
              const filename = this.dataset.filename;

              fetch(`/delete-image/<%= admin %>/${filename}`, {
                method: 'DELETE'
              }).then(response => {
                if (response.ok) {
                  this.closest('.sortable-item').remove();
                  socket.emit('imageDeleted', { admin: '<%= admin %>', filename: filename });
                }
              });
            });
          });

          socket.on('orderUpdate', function(data) {
            if (data.admin === '<%= admin %>') {
              const list = document.getElementById('sortable');
              list.innerHTML = '';
              data.images.forEach(image => {
                const li = document.createElement('li');
                li.className = 'sortable-item';
                li.innerHTML = `<img src="/uploads/<%= admin %>/${image}" class="img-thumbnail mr-2">${image}<button class="btn btn-danger btn-sm ml-2 delete-image" data-filename="${image}">Delete</button>`;
                list.appendChild(li);
              });

              document.querySelectorAll('.delete-image').forEach(button => {
                button.addEventListener('click', function() {
                  const filename = this.dataset.filename;

                  fetch(`/delete-image/<%= admin %>/${filename}`, {
                    method: 'DELETE'
                  }).then(response => {
                    if (response.ok) {
                      this.closest('.sortable-item').remove();
                      socket.emit('imageDeleted', { admin: '<%= admin %>', filename: filename });
                    }
                  });
                });
              });
            }
          });

          socket.on('statusUpdate', function(data) {
            if (data.admin === '<%= admin %>') {
              const slideshow = document.getElementById('slideshow');
              if (data.isResting) {
                slideshow.innerHTML = '<p>Currently Resting</p>';
              } else {
                location.reload();
              }
            }
          });

          socket.on('imageDeleted', function(data) {
            if (data.admin === '<%= admin %>') {
              const slideshow = document.getElementById('slideshow');
              slideshow.innerHTML = '';
              data.images.forEach((image, index) => {
                const div = document.createElement('div');
                div.className = `slide ${index === 0 ? 'active' : ''}`;
                div.innerHTML = `<img src="/uploads/<%= admin %>/${image}" class="img-fluid">`;
                slideshow.appendChild(div);
              });
            }
          });
        });
      </script>
    </body>
    </html>
